<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="shows">
                <div class="landing-page-img-wh border border-black">
                    <img src="" alt="" class="float-lg-start float-sm-none"/>
                    <h3>TITOLO</h3>
                    <p>DESCRIZIONE EVENTO</p>
                </div>
                
            </div>
        </div>
    </div>
</div>

    