<div class="container mt-5 w-75">
    <div class="row">
        <div class="col-12 d-flex flex-row justify-content-between">
            <h5 class="upper-headers">aggiungi una pizza</h5>
            <a class="btn btn-dark rounded-0 btn-sm" href="#" role="button">Salva</a>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-lg-6 col-sm-12 mb-3">
                <label class="form-label site-font">Nome</label>
                <input type="text" class="form-control border border-secondary rounded-0" id="exampleInputEmail1">
            </div>
            <div class="col-lg-6 col-sm-12 mb-3">
                <label class="form-label site-font">Prezzo</label>
                <input type="text" class="form-control border border-secondary rounded-0" id="exampleInputEmail1">
            </div>
            <div class="col-12 mb-3">
                <label class="form-label site-font">URL Immagine</label>
                <input type="text" class="form-control border border-secondary rounded-0" id="exampleInputPassword1">
            </div>
            <div class="col-12 mb-3">
                <label class="form-label site-font">Descrizione</label>
                <textarea type="text" row="20" class="form-control border border-secondary rounded-0"></textarea>
            </div>
        </div>
    </form>
</div>
