<div class="container mt-5">
    <h5 class="upper-headers">aggiungi una pizza</h5>
    <form>
        <div class="col-12 row">
            <div class="mb-3">
                <label class="form-label">Nome</label>
                <input type="text" class="form-control border border-secondary rounded-0" id="exampleInputEmail1">
            </div>
            <div class="col-12 mb-3">
                <label for="exampleInputPassword1" class="form-label">URL Immagine</label>
                <input type="password" class="form-control border border-secondary rounded-0" id="exampleInputPassword1">
            </div>
            <div class="col-12 mb-3">
                <label class="form-label">Descrizione</label>
                <textarea type="text" class="form-control border border-secondary rounded-0"></textarea>
            </div>
        </div>
    </form>
</div>
