@model Pizza

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="upper-headers text-center mt-4">Pizza: @Model.Name</h3>
            <img src="@Model.ImageUrl" alt="@Model.Name" class="d-block m-auto border border-black" />
            <p class="text-center">@Model.Description</p>
        </div>
    </div>
</div>

